[submodule "submods/catppuccin/alacritty"]
	path = submods/catppuccin/alacritty
	url = git@github.com:catppuccin/alacritty.git
[submodule "submods/catppuccin/bat"]
	path = submods/catppuccin/bat
	url = git@github.com:catppuccin/bat.git
[submodule "submods/catppuccin/lazygit"]
	path = submods/catppuccin/lazygit
	url = git@github.com:catppuccin/lazygit.git
[submodule "submods/catppuccin/vimium"]
	path = submods/catppuccin/vimium
	url = git@github.com:catppuccin/vimium.git
[submodule "submods/zsh/alacritty"]
	path = submods/zsh/alacritty
	url = git@github.com:alacritty/alacritty.git
